@import '../../scss/main.scss';

.table-headers.table-headers {
  background-color: #26a69a;
  color: white;
}

.first-item.first-item {
  color: #00695c;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.container {
  display: grid;
  margin: 15px 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 290px);
  grid-gap: 30px;

  @media (min-width: $tablet-width) {
    margin: 30px 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 50px 70px;
  }

}