.photo-card {
  &.card {
    margin: 0;
  }

  &__camera {
    font-weight: 700;
  }

  &__tooltip {
    font-size: 15px;
  }

  &__spinner {
    min-height: 290px !important;
    margin: 0 !important;
  }

  &__hide {
    display: none !important;
  }
}